django<2.0; python_version < '3.0'
django>=2.2; python_version >= '3.0'
django-rq>=0.9.5
celery>=4.0.2
flower>=0.9.2
git+ssh://labsdeploy/pewresearch/pewtils#egg=pewtils
git+ssh://labsdeploy/pewresearch/django_pewtils#egg=django_pewtils
