{% extends "django_commander/_template.html" %}

{% load staticfiles %}

{% block extra_head %}{% endblock %}

{% block modals %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Command Logs: {{ command.name }}, {{ command.parameters }}</h3>
                </div>
                <table class="panel-body table table-condensed">
                    <tr><th>Options</th><th>Start</th><th>Finish</th><th>Error</th></tr>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.options }}</td>
                            <td>{{ log.start_time }}</td>
                            <td>{{ log.end_time }}</td>
                            <td>{{ log.error }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}{% endblock %}